* {
  margin: 0;
  padding: 0;
}
.header {
  background-color: rgb(44, 41, 41);
  height: 200px;
}
.top-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.again {
  padding: 10px 20px;
  font-size: 25px;
  font-weight: bold;
}
.between {
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.title {
  text-align: center;
  margin-top: 30px;
  color: white;
  font-weight: bold;
}
/* this is css for the main section */
.main {
  background-color: rgb(44, 41, 41);
  margin-top: 10px;
  height: 400px;
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  align-items: center;
}
.display {
  /* border: 1px solid red; */
  padding: 30px 50px;
  margin-top: -60px;
  background-color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.info-container {
  width: 60%;
  display: flex;
  column-gap: 400px;
}
.input-check {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  row-gap: 20px;
}
.guess {
  width: 150px;
  height: 100px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
.check {
  height: 50px;
  width: 130px;
  font-size: 20px;
  font-weight: bold;
}
.status-container {
  /* border: 1px solid red; */
  width: 300px;
  display: flex;
  flex-direction: column;
}
.message {
  text-align: center;
  margin-bottom: 50px;
  color: white;
  font-size: 35px;
}
.score-par,
.high-par {
  margin-bottom: 10px;
  color: white;
  font-size: 25px;
}
/* this the general css part */
.btn:active {
  background-color: rgb(0, 157, 255);
}
